<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理端首页-CodeHelper</title>
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../static/images/shortcut-icon.png" th:href="@{/images/shortcut-icon.png}"/>
    <!-- 引入 reset 样式 -->
    <link rel="stylesheet" href="../../static/css/reset.css" th:href="@{/css/reset.css}">
    <!-- 引入 public 样式 -->
    <link rel="stylesheet" href="../../static/css/public.css" th:href="@{/css/public.css}">
    <!-- 引入 admin nav footer 样式 -->
    <link rel="stylesheet" href="../../static/css/admin-nav-footer.css" th:href="@{/css/admin-nav-footer.css}">
    <!-- 引入 admin-index 样式 -->
    <link rel="stylesheet" href="../../static/css/admin-index.css" th:href="@{/css/admin-index.css}">
</head>

<body>

    <!-- 顶部部分 -->
    <nav class="nav">
        <ul class="right clearfix">
            <li><a href="/logout.do">Log Out</a></li>
        </ul>
    </nav>

    <!-- 主体部分 -->
    <div class="main clearfix">
        <!-- 左边导航栏部分 -->
        <div class="menu left">
            <div class="log">
                <h1>
                    <a href="/adminIndex">CodeHelper</a>
                </h1>
            </div>
            <ul>
                <li><a href="/adminWebSiteBanner">Web Management</a></li>
                <li><a href="/adminUser">User Management</a></li>
                <li><a href="/adminType">Type Management</a></li>
                <li><a href="/adminBlog">Blog Management</a></li>
                <li><a href="/adminResource">Reso Management</a></li>
                <li><a href="/adminWish">Wish Management</a></li>
                <li><a href="/adminPartner">Part Management</a></li>
            </ul>
        </div>
        <!-- 中间主体部分 -->
        <div class="admin-container left">
            <div class="admin-welcome-msg">
                <span>Hi</span>
                <span><label th:text="${username}">admin</label>，欢迎登录 CodeHelper 后台管理平台！</span>
            </div>
            <img src="../../static/images/admin-welcome-img.jpg" alt="" th:src="@{/images/admin-welcome-img.jpg}">
        </div>
    </div>

    <!-- 尾部部分 -->
    <footer class="footer">
        <div class="text">
            Copyright © 2022 CodeHelper<a class="aq" href="https://beian.miit.gov.cn">辽ICP备 - 2022004079号</a>
        </div>
    </footer>

</body>

</html>