<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-CodeHelper</title>
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../static/images/shortcut-icon.png" th:href="@{/images/shortcut-icon.png}"/>
    <!-- 引入 reset 样式 -->
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <!-- 引入 public 样式 -->
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}">
    <!-- 引入 login 样式-->
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>

    <div class="login-container clearfix">
        <div class="left-img left">
            <img src="../static/images/login-bg.jpg" th:src="@{/images/login-bg.jpg}" alt="">
        </div>

        <div class="login-content right">
            <h2>欢迎登录，CodeHelper !</h2>
            <form action="/login.do" method="post">
                <span class="login-msg" th:text="${msg}"></span>
                <input type="text" placeholder="用户名" name="username">
                <input type="password" placeholder="密 码" name="password">
                <a class="reset-pwd-btn" href="/resetPassword">忘记密码？</a>
                <div class="role">
                    <input type="radio" name="userType" value="普通用户" checked>用户
                    <input type="radio" name="userType" value="管理员">管理员
                </div>
                <button>登 录</button>
            </form>
            <a href="/register" class="register-btn">我没有账号，去注册</a>
            <span class="hint">
                登录即代表同意 <a href="/privacy">《隐私政策》</a> 和 <a href="/userAgreement">《用户协议》</a>
            </span>
        </div>

    </div>

</body>

</html>