<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码重置-CodeHelper</title>
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../static/images/shortcut-icon.png" th:href="@{/images/shortcut-icon.png}"/>
    <!-- 引入 reset 样式 -->
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <!-- 引入 public 样式 -->
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}">
    <!-- 引入 reset password 样式-->
    <link rel="stylesheet" href="../static/css/reset-password.css" th:href="@{/css/reset-password.css}">
</head>
<body>

    <div class="reset-pwd-container clearfix">
        <div class="left-img left">
            <img src="../static/images/login-bg.jpg" th:src="@{/images/login-bg.jpg}" alt="">
        </div>

        <div class="reset-pwd-content right">
            <h2>密码重置</h2>
            <form action="/resetPassword.do" method="post">
                <span class="reset-password-msg" th:text="${msg}"></span>
                <input type="text" placeholder="QQ邮箱" id="email" name="email">
                <span>*请使用注册时所用的QQ邮箱</span>
                <input type="text" placeholder="验证码" name="verificationCode">
                <a class="code-btn">获取验证码</a>
                <span>*注意查收密码重置验证码邮件</span>
                <input type="password" placeholder="新密码" name="newPassword">
                <span>*请输入新密码</span>
                <button>重 置</button>
            </form>
            <a href="/login" class="register-btn">去登录</a>
        </div>

    </div>
    <!-- 引入jquery -->
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script>
        $(".code-btn").click(function() {
            var email = $("#email").val();
            $.post("/sendVerificationCode.do",{"email":email},function (data) {
            })
        })
    </script>
</body>

</html>