<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源-CodeHelper</title>
    <!-- 网站图标 -->
    <link rel="shortcut icon" href="../static/images/shortcut-icon.png" th:href="@{/images/shortcut-icon.png}"/>
    <!-- 引入 reset 样式 -->
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <!-- 引入 public 样式 -->
    <link rel="stylesheet" href="../static/css/public.css" th:href="@{/css/public.css}">
    <!-- 引入 nav footer样式 -->
    <link rel="stylesheet" href="../static/css/nav-footer.css" th:href="@{/css/nav-footer.css}">
    <!-- 引入 resource 样式 -->
    <link rel="stylesheet" href="../static/css/resource.css" th:href="@{/css/resource.css}">
    <!-- 引入 animate 样式 -->
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
</head>
<body>

    <!-- 头部部分 -->
    <nav class="menu">
        <div class="container clearfix">
            <div class="logo left"><a href="/welcome">CodeHelper</a></div>
            <ul class="left clearfix">
                <li><a href="/index">首页</a></li>
                <li><a href="/blog">博客</a></li>
                <li><a href="/resource" class="active">资源</a></li>
                <li><a href="/wish">世界</a></li>
                <li><a href="/aboutUserResource">个人</a></li>
                <li><a href="/aboutWebMaster">关于站长</a></li>
            </ul>
            <div class="login">
                <a th:if="${loginUser == null}" class="login-a" href="/login">登 录</a>
                <div class="login-user-msg" th:if="${loginUser != null}">
                    <div class="msg-main clearfix">
                        <img class="left" src="../static/images/1005-800x450.jpg" th:src="@{${loginUser.headPortrait}}" alt="">
                        <span class="left" th:text="${loginUser.username}">李先生</span>
                    </div>
                    <div class="logout-a">
                        <a href="/logout.do">退 出</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- 中间主体部分 -->
    <div class="resource-main clearfix">
        <div class="main-left left">
            <form action="/searchResourcePage.do" class="search clearfix">
                <input type="text" class="left" name="resourceNameLike" placeholder="搜索资源...">
                <button class="left">
                    <img src="../static/images/search.png" th:src="@{/images/search.png}" alt="">
                </button>
            </form>
            <div class="resource-list clearfix">
                <div class="resource-item left" th:each="resource : ${pageResources.list}">
                    <div class="resource-top clearfix">
                        <div class="resource-img left">
                            <img src="../static/images/1005-800x450.jpg" alt="" th:src="@{${resource.icon}}">
                        </div>
                        <div class="resource-content right">
                            <h2 class="resource-title" th:text="${resource.resourceName}">Java Idea</h2>
                            <div class="resource-description" th:text="${resource.description}">
                                这是一个非常好的Java编辑器，你一定会爱上它的！
                            </div>
                        </div>
                    </div>
                    <div class="resource-tags">
                        <span class="resource-tag right" th:each="typeName : ${resource.resourceTypes}">
                            [[${typeName}]]
                        </span>
                    </div>

                    <div class="resource-bottom clearfix">
                        <span class="viewSum left">
                            <img src="../static/images/accessSum.png" th:src="@{/images/accessSum.png}" class="left" alt="">
                            <span class="left" th:text="${resource.viewSum}">1000</span>
                        </span>
                        <a th:href="@{/resourceDetail.do(resourceId=${resource.id})}" class="right">
                            <img src="../static/images/access.png" th:src="@{/images/access.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="turn-pages clearfix">
                <a th:href="@{/resourcePage.do(pageNum=${pageResources.nextPage})}" class="right nex-btn" th:class="${pageResources.hasNextPage}?'right nex-btn':'right nex-btn disabled'">
                    <img src="../static/images/turn-pages-nex.png" th:src="@{/images/turn-pages-nex.png}" alt="">
                </a>
                <a th:href="@{/resourcePage.do(pageNum=${pageResources.prePage})}" class="right pre-btn" th:class="${pageResources.hasPreviousPage}?'right pre-btn':'right pre-btn disabled'">
                    <img src="../static/images/turn-pages-pre.png" th:src="@{/images/turn-pages-pre.png}" alt="">
                </a>
                <span class="right pages">共计：<span class="total-sum" th:text="${pageResources.pages}">10</span> 页，当前第：<span class="current-sum" th:text="${pageResources.pageNum}">10</span> 页</span>
            </div>
        </div>
        <div class="main-right right">
            <a href="" th:href="@{/resourceRecommend}" class="recommend-btn">推荐资源</a>
            <div class="caption clearfix">
                <span th:text="${pageResources.total}">1000</span>
                <span>资源数</span>
            </div>
            <div class="new-resource">
                <h2>最新资源推荐</h2>
                <a th:href="@{/resourceDetail.do(resourceId=${resource.id})}" class="new-resource-item clearfix" th:each="resource : ${newResources}">
                    <span class="left" th:text="${resource.resourceName}">Java Idea</span>
                    <span class="right"> >> </span>
                </a>
            </div>
        </div>
    </div>

    <!-- 尾部部分 -->
    <footer class="footer">
        <div class="text">
            Copyright © 2022 CodeHelper<a class="aq" href="https://beian.miit.gov.cn">辽ICP备 - 2022004079号</a>
        </div>
    </footer>

    <!-- 引入 public  js -->
    <script type="text/javascript" src="../static/js/public.js" th:src="@{/js/public.js}"></script>
    <!-- 页面滚动效果 -->
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="../static/js/jquery.aniview.js" th:src="@{/js/jquery.aniview.js}"></script>
    <script>
        // 滚到指定位置固定
        window.onscroll=function(){
            var obj = document.getElementsByClassName("main-right")[0];
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            console.log(scrollTop)
            if(scrollTop < 100){
                obj.style.position = 'static';
                obj.style.marginLeft = "0";
                obj.style.bottom = "0";
            }else{
                obj.style.position = 'fixed';
                obj.style.bottom = '70px';
                obj.style.marginLeft = "938px";
            }
        }

        // 滚动 aniview
        var options = {
            animateClass: 'animate__animated',
            animateThreshold: 100,
            scrollPollInterval: 20
        };
        $('.aniview').AniView(options);

    </script>
</body>

</html>