<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.codehelper.mapper.BlogCommentMapper">
    <insert id="insertBlogComment">
        insert into
        t_blog_comment(id,content,create_time,blog_id,user_id)
        values (#{id},#{content},#{createTime},#{blogId},#{userId})
    </insert>

    <delete id="deleteBlogComment">
        delete from
        t_blog_comment
        where id = #{commentId}
    </delete>

    <select id="selectAllBlogComment" resultType="com.lt.codehelper.entity.BlogComment">
        select
        *
        from t_blog_comment
        where blog_id = #{blogId}
    </select>
</mapper>