<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.codehelper.mapper.BlogMapper">

    <insert id="insertBlog" parameterType="com.lt.codehelper.entity.Blog">
        insert into
        t_blog(id,title,description,content,first_picture,flag,view_sum,published,create_time,update_time,user_id)
        values (#{id},#{title},#{description},#{content},#{firstPicture},#{flag},#{viewSum},#{published},#{createTime},#{updateTime},#{userId})
    </insert>

    <delete id="deleteBlogById">
        delete from
        t_blog
        where
        id = #{id}
    </delete>

    <update id="updateBlog" parameterType="com.lt.codehelper.entity.Blog">
        update
        t_blog
        set title = #{title},description = #{description},content = #{content},first_picture = #{firstPicture},flag = #{flag},published = #{published},update_time = #{updateTime}
        where id = #{id}
    </update>

    <update id="updateBlogViewSum">
        update
        t_blog
        set view_sum = #{viewSum}
        where id = #{id}
    </update>

    <select id="selectBlogById" resultType="com.lt.codehelper.entity.Blog">
        select *
        from
        t_blog
        where
        id = #{id}
    </select>

    <select id="selectNewBlog" resultType="com.lt.codehelper.entity.Blog">
        select *
        from t_blog
        order by update_time desc LIMIT #{size}
    </select>

    <select id="selectAllBlog" resultType="com.lt.codehelper.entity.Blog">
        select *
        from
        t_blog
    </select>

    <select id="selectAllBlogOfPublished" resultType="com.lt.codehelper.entity.Blog">
        select
        *
        from
        t_blog
        where published = '发布'
    </select>

    <select id="selectBlogByTitleLike" resultType="com.lt.codehelper.entity.Blog">
        select *
        from
        t_blog
        where title like #{blogTitleLike}
    </select>

</mapper>