<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.codehelper.mapper.PartnerToTypeMapper">
    <insert id="insertPartnerToType">
        insert into
        t_partner_to_type(partner_id,type_id)
        values (#{partnerId},#{typeId})
    </insert>

    <select id="selectAllTypeIdByPartnerId" resultType="long">
        select
        type_id
        from
        t_partner_to_type
        where partner_id = #{partnerId}
    </select>
</mapper>